* {
    box-sizing: border-box;
}

:root {
    --primary-silver: rgb(216, 214, 214);
    --primary-dark: rgb(5, 4, 4);
}

a {
    text-decoration: none;
    color: var(--primary-silver);
    display: inline;
}

.head > .top-links > a {
    text-decoration: none;
    color: var(--primary-silver);
}

.head > .top-links > *:hover {
    cursor: pointer;
}

body {
    background-color: black;

}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid red; */
    
    padding: .5rem 0rem;
    color: var(--primary-silver);
    border-bottom: 2px solid rgb(216, 214, 214);
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 1;
}

.head>.name {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    font-size: 2rem;
}

.head > .name:hover {
    cursor: pointer;
}

.head>.top-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    border: 2px solid var(--primary-silver);
    flex-direction: column;
    margin-top: .5rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content a {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .dropdown-content a:hover {
    color: red;
  }

.main-section {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    height: 1000px;
    /* width: auto; */
}

.main-section>.main-left,
.main-section>.main-right {
    display: flex;
    flex: 1;
    /* width: auto; */
    /* justify-content: center;
    align-items: center; */
    margin-top: 6rem;
    margin-bottom: 6rem;
    /* border: 2px solid blue; */
}

.main-section>.main-right>.profile-picture {
    /* margin: auto; */
    border-radius: 50%;
    height: 700px;
}

.main-section>.main-left {
    flex-direction: column;
    /* background-image: url(./Images/IMG_20210203_191824.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: cover; */
    justify-content: space-around;
    margin-left: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
    /* white-space: nowrap; */
    flex-shrink: 1;
}

/* blockquote {
    text-indent: 1.5rem
} */

.main-section>.main-right {
    justify-content: center;
    align-items: center;

}

.main-section>.main-left>.main-quote {
    color: var(--primary-silver);
    font-size: 1.8rem;
    font-style: italic;
    flex: 1;
    margin: 0;
    line-height: 2.2rem;
    /* padding: 1.25rem; */
    flex-shrink: 1 0 20%;
    
}

.main-section>.main-left>.main-quote:before {
    content: open-quote;
    font-size: 3rem;
}

.main-section>.main-left>.main-quote:after {
    content: close-quote;
    font-size: 3rem;
}

.main-section>.main-left>.main-quote {
    opacity: 0;
    animation: fade-in-quotes 1s ease-in-out forwards;
}

.main-section>.main-left>.quote1 {
    animation-delay: 500ms;
}

.main-section>.main-left>.quote2 {
    animation-delay: 1500ms;
    /* margin-top: -2rem; */
}

.main-section>.main-left>.quote3 {
    animation-delay: 2500ms;
    /* margin-top: 1.5rem; */
}

.main-section>.main-left>.quote4 {
    animation-delay: 3500ms;
    /* margin-top: .5rem; */
    /* padding-right: 6rem; */
}

.main-section>.main-left>.quote5 {
    animation-delay: 4500ms;
    /* margin-top: 3.5rem; */
    /* padding-right: 6rem; */
}

@keyframes fade-in-quotes {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.cover-letter {
background-image: url(./Images/IMG_20201201_192649.jpg);
background-repeat: no-repeat;
background-size: cover;
/* background-color: rgba(0, 0, 0, 0.25); */
display: flex;
flex-direction: column;
/* flex: 1; */
   width: 100%;
    height: 1100px;
}

.cover-letter-gap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 50%;
    padding-top: 10rem;
}

.cover-letter-gap h1:first-child {
    font-size: 3rem;
}

/* .cover-letter-gap h1:second-child {
    font-size: 1.5rem;
} */


.cover-letter > .cover-letter-text {
    /* position: absolute; */
    
    color: var(--primary-silver);
    text-align: center;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* box-sizing: border-box; */
    height: 50%;
    margin: 0 2rem;
    font-size: 1.2rem;
    line-height: 1.3rem;
    /* margin-top: -40rem; */
    /* opacity: 1; */
    
    
    /* background-color: transparent;
    border: 2px solid blue; */
}

.cover-letter > .cover-letter-text > p > a {
    text-decoration: none;
    color: var(--primary-silver);
}

.cover-letter > .cover-letter-text > p > a:hover {
    color: var(--primary-silver);
    font-size: 2rem;
}

.cover-letter > .cover-letter-text > p {
    margin: .5rem 0;  
}

.cover-letter > .cover-letter-text > h1 {
    margin: .25rem 0;  
}

@keyframes cover-letter-text-slide {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#bueast > p {
    /* position: relative; */
 background-color: transparent;
 /* height: 100%;
 width: 100%; */
    backdrop-filter: blur(6px);
    /* z-index: 1;  */
    animation: cover-letter-text-slide 1s ease-in-out forwards;
    
}

/* .pre-cover-letter {
    height: 1500px;
    width: 100%;
    opacity: .5;
} */



.image-container-bottom-cover-letter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    height: 220px;
    width: auto;
    /* margin-left: 30%; */
    margin-top: 2rem;
}

.bottom-cover-letter-image {
    margin-top: 125px;
}

.my-past-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-past-section > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-dark);
    margin-top: 5rem;
    font-size: 4rem;
    width: 100%;
    height: 10rem;
    background-color: var(--primary-silver);
}

.my-past-section > .past-text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-silver);
    width: 80%;
    margin-top: 5rem;
}

.my-past-section > .past-text > .born, 
.primary-school, 
.primary-sports, 
.high-school,
.later-high-school,
.travelling,
.first-trip-home,
.australia,
.back-to-england,
.hit-by-a-car,
.back-to-work,
.move-to-birmingham,
.freelancing,
.lockdown,
.back-to-new-zealand,
.back-to-england-again,
.today { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 2rem;
}

 .past-text .year { 
    display: flex;
    justify-content: flex-start;
    align-items:first baseline;
    /* border: 2px solid blueviolet; */
    width: 40%;
    padding-left: 5rem;
}

.past-text .table { 
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid blue; */
    width: 60%;
    
}

.past-text a {
    display: inline;
}


.past-text a:hover {
    color: red;
}

.kangaroo {
    margin: 5rem 0;
}

.food-images,
.lockdown-images {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

img {
    border-radius: 10px;
}

.covid-lockdowns {
    margin: 5rem 0;
    font-size: 5rem;
}

.table a {
    display: inline;
}